@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .bannertxt {
    /* font-size: 48px; */
    width: 100% !important;

    line-height: 1.3 !important;
  }
  @media only screen and (min-width: 768px) {
    .bannertxt {
      width: 500px !important;
    }
  }
  @media only screen and (min-width: 1024px) {
    .customers {
      height: 400px !important;
    }
  }

  .banner {
    height: 100vh;
  }
  .blurred {
    backdrop-filter: blur(4px);
  }

  .img-container {
    height: 600px;
  }

  .featurecard {
    background: linear-gradient(to bottom, #f56b1591, white);
  }
  .rightpane {
    height: 100vh !important;
  }
}
