@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
}

@font-face {
  font-family: 'FreeBasics';
  src: url('/fonts/freebasics/Basics\ Serif\ -\ Free.ttf');
  font-display: swap;
}

/* @font-face { */
/* font-family: 'Wavenhaus Semibold'; */
/* src: url('/fonts/Wavehaus_Sans_Free_Typeface_Graham_Paterson_271219/Wavehaus-95SemiBold.otf'); */
/* font-display: swap; */
/* } */

@layer utilities {
}
