@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
}

@font-face {
  font-family: 'Silka';
  src: url('/fonts/silka/Silka-Regular.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Regis';
  src: url('/fonts/regis/Regis-Semi\ Bold.ttf');
  font-display: swap;
}

@layer components {
  .bannertxt {
    /* font-size: 48px; */
    width: 100% !important;

    line-height: 1.3 !important;
  }
  @media only screen and (min-width: 768px) {
    .bannertxt {
      width: 500px !important;
    }
  }
  .banner {
    height: 100vh;
  }
  .blurred {
    backdrop-filter: blur(4px);
  }
  /* @media only screen and (max-width: 768px) { */
  /* .banner { */
  /* min-height: 55vh; */
  /* } */
  /* } */

  .img-container {
    /* background-image: url('https://res.cloudinary.com/tiny-house/image/upload/v1560646289/mock/Cancun/cancun-listing-2_bsocu5.jpg'); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    height: 600px;
    /* width: 100%; */
    /* height: 100%; */
  }
}

@layer utilities {
}
